*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-900-color: #0E0E0E;
    --gray-800-color: #141414;
    --green-color: hsl(75, 94%, 57%);
    --primery-text-color: hsl(0, 0%, 100%);
    --gray-700-color: #1F1F1F;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--gray-900-color);
    font-size: 1.4rem;
    font-family: "inter" sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-main {
    background-color: var(--gray-800-color);
    padding: 20px 10px;
    width: 25em;
    border-radius: 10px;
    box-shadow: 1px 2px 4px var(--gray-800-color);
}

.container-main h1 {
   color: var(--primery-text-color);
   font-weight: 400;
}

.profile-photo a img {
    border-radius: 100%;
    width: 8rem;
    border: none;
    box-shadow: 1px 2px 3px var(--gray-800-color);
}

.center-profile-name {
    margin: 2rem 0 1.5rem 0;
}

.profile-local a {
    text-decoration: none;
    color: var(--green-color)
}

.center-text h2 {
    margin: 10px;
    color: #eee;
    font-size: 1.5rem;
}

.social-buttons {
    width: 100%;
}

.experience-list {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.social-btn {
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--gray-700-color);
    color: var(--primery-text-color);
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px var(--gray-800-color);
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.4s ease;
}

.social-btn:hover{
    background-color: var(--green-color);
    color: var(--gray-800-color);
}