:root {
    --White--: hsl(0, 0%, 100%);
    --Stone--100--: hsl(30, 54%, 90%);
    --Stone--150--: hsl(30, 18%, 87%);
    --Stone--600--: hsl(30, 10%, 34%);
    --Stone--900--: hsl(24, 5%, 18%);
    --Brown--800--: hsl(14, 45%, 36%);
    --Rose--800--: hsl(332, 51%, 32%);
    --Rose--50--: hsl(330, 100%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    background-color: var(--Stone--100--);
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-rec {
    width: 50vh;
    padding: 2.5%;
    border-radius: 2%;
    background-color: var(--White--)
}

.container-img img {
    width: 100%;
    border-radius: 8%;
    object-fit: cover;
}

.container-pres h1 {
    font-family: "Young Serif", serif;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.container-pres p {
    font-size: 0.7rem;
    font-family: "outfit";
    padding-bottom: 10px;
    color: var(--Stone--600--);
}

.container-preparation, .container-ingredients, .container-instructions, .container-nutrition {
    margin-top: 20px;
}

.container-preparation {
    background-color: var(--Rose--50--);
    padding: 12px;
}

.container-ingredients, .container-instructions, .container-nutrition {
    background-color: var(--White--);
    padding: 10px;
    border-radius: 5px;
}

.container-preparation h2{
    font-family: "Outfit";
    color: var(--Rose--800--);
    font-size: 16px;
    padding-left: 13px;
    padding-bottom: 10px;
}

.container-preparation ul {
    list-style: none; 
}

.container-preparation ul li::before {
    content: "•"; 
    color: var(--Rose--800--); 
    font-size: 0.8em; 
    margin-right: 15px; 
}

.container-ingredients ul {
    list-style: none; 
}

.container-ingredients ul li::before {
    content: "•"; 
    color: var(--Brown--800--); 
    font-size: 0.8em; 
    margin-right: 8px; 
}


.container-preparation a {
    text-decoration: none;
    font-family: "outfit";
    font-size: 10px;
    color: black;
    padding-left: 13px;
}

.container-ingredients h3 {
    color: var(--Brown--800--);
    font-family: "Young Serif";
    font-weight: 200;
    padding-left: 10px;
}

.container-ingredients a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "outfit";
    font-weight: 400;
    padding-left: 8px;
}

.container-instructions h3 {
    color: var(--Brown--800--);
    font-family: "Young Serif";
    font-weight: 200;
    padding-left: 10px;
}

.container-instructions ul {
    list-style-type: decimal; 
    color: black;
    padding-left: 20px;
}

.container-instructions ul li::marker {
    color: var(--Brown--800--); 
    font-weight: bold; 
    font-size: 0.8em; 
}

.container-instructions li {
    padding-bottom: 8px;
}

.container-instructions a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: "outfit";
    font-weight: 400;
    padding-left: 14px;
}

.container-nutrition h3 {
    color: var(--Brown--800--);
    font-family: "Young Serif";
    font-weight: 200;
    padding-left: 10px;
    padding-bottom: 5px;
}

.container-nutrition p {
    font-family: "Outfit";
    font-size: 0.8em;
    padding-bottom: 10px;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    font-family: 'Outfit', sans-serif; 
    font-size: 16px;
}

td {
    padding: 9px 30px; 
}

td:first-child {
    text-align: left; 
}

td:last-child {
    text-align: right; 
    font-weight: bold; 
    color: var(--Brown--800--); 
}

tr {
    border-bottom: 1px solid var(--White--); 
}

tr:last-child {
    border-bottom: none; 
}
